
## <summary>policy for gcua-se-el7</summary>

########################################
## <summary>
##	Execute TEMPLATE in the gcua-se-el7 domin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gcua-se-el7_domtrans',`
	gen_require(`
		type gcua-se-el7_t, gcua-se-el7_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gcua-se-el7_exec_t, gcua-se-el7_t)
')
########################################
## <summary>
##	Execute gcua-se-el7 server in the gcua-se-el7 domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`gcua-se-el7_systemctl',`
	gen_require(`
		type gcua-se-el7_t;
		type gcua-se-el7_unit_file_t;
	')

	systemd_exec_systemctl($1)
        systemd_read_fifo_file_passwd_run($1)
	allow $1 gcua-se-el7_unit_file_t:file read_file_perms;
	allow $1 gcua-se-el7_unit_file_t:service manage_service_perms;

	ps_process_pattern($1, gcua-se-el7_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an gcua-se-el7 environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`gcua-se-el7_admin',`
	gen_require(`
		type gcua-se-el7_t;
	type gcua-se-el7_unit_file_t;
	')

	allow $1 gcua-se-el7_t:process { signal_perms };
	ps_process_pattern($1, gcua-se-el7_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 gcua-se-el7_t:process ptrace;
    ')

	gcua-se-el7_systemctl($1)
	admin_pattern($1, gcua-se-el7_unit_file_t)
	allow $1 gcua-se-el7_unit_file_t:service all_service_perms;
	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
